.cont {
  position: absolute;
  left: 20px;
  right: 20px;
  text-align: center;
}

.array-bar {
  display: inline-block;
  margin: 0 1px;
}
.array-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 635px;
  border-bottom: 1px solid grey;
}
.button-container {
  display: flex;
  justify-content: center;
}

.form-range {
  width: 300px;
  transform: translate(0, 14px);
}
.form-label {
  transform: translate(0, 7px);
}

.btn-sec {
  background-color: blueviolet;
  color: aliceblue;
}

.btn-sec:hover {
  background-color: rgb(112, 52, 168);
  color: aliceblue;
}

.stop {
  padding: 6px 12px;
  margin-top: 7.8px;
  color: whitesmoke;
  background-color: red;
}
.stop:hover {
  color: whitesmoke;
  background-color: rgb(199, 15, 15);
}

.footer {
  transform: translate(0, 690px);
}
